<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel_book.service.web.map.dao.MapMapper">

    <insert id="saveTravel" useGeneratedKeys="true" keyProperty="travelId">
        INSERT INTO TRAVEL (TITLE, OID, CID, CDT)
            VALUES (#{title}, #{oid}, #{cid}, now())
    </insert>
    <insert id="saveLocation" keyProperty="locationId">
        INSERT INTO LOCATION (TRAVEL_ID, LOCATION_ID, LATITUDE, LONGITUDE)
            VALUES (#{travelId}, #{locationId}, #{latitude}, #{longitude})
    </insert>
    <insert id="saveLocationDetail" keyProperty="locationSq">
        INSERT INTO LOCATION_DETAIL (TRAVEL_ID, LOCATION_ID, LOCATION_SQ, CONTENT)
            VALUES (#{travelId}, #{locationId}, #{locationSq}, #{content})
    </insert>

    <select id="findById" resultType="TravelModel">
        SELECT TRAVEL_ID, TITLE, OID, CID, CDT
            FROM TRAVEL
         WHERE TRAVEL_ID = #{travelId}
    </select>
    <select id="findByLocation" resultType="LocationModel">
        SELECT TRAVEL_ID, LOCATION_ID, LATITUDE, LONGITUDE
            FROM LOCATION
         WHERE TRAVEL_ID = #{travelId}
    </select>
    <select id="findByLocationDetail" resultType="LocationDetailModel">
        SELECT TRAVEL_ID, LOCATION_ID, LOCATION_SQ, CONTENT
            FROM LOCATION_DETAIL
        <where>
            <if test="travelId != null">
                AND TRAVEL_ID = #{travelId}
            </if>
            <if test="locationId != null">
                And LOCATION_ID = #{locationId}
            </if>
        </where>
    </select>


    <select id="findByTravel" resultType="TravelList"> <!-- 사용자 id 값으로 여행 리스트 가져오기 -->
        SELECT TRAVEL_ID, TITLE,/* OID, CID, */A.CDT, B.USER_ID
            FROM TRAVEL A
            JOIN MEMBER B ON A.CID = B.ID
         WHERE A.CID = #{id}
        ORDER BY CDT DESC
    </select>

    <select id="findByTravelId" resultType="TravelDetail">  <!-- travelId 받아서 단건 조회 -->
        SELECT /* A.TRAVEL_ID, A.TITLE, A.OID, A.CID, A.CDT, */
               B.TRAVEL_ID, B.LOCATION_ID, B.LATITUDE, B.LONGITUDE,
               C.LOCATION_SQ, C.CONTENT
            FROM TRAVEL               A
            LEFT JOIN LOCATION        B ON A.TRAVEL_ID = B.TRAVEL_ID
            LEFT JOIN LOCATION_DETAIL C ON B.TRAVEL_ID = C.TRAVEL_ID AND B.LOCATION_ID = C.LOCATION_ID
         WHERE A.TRAVEL_ID = #{travelId}
    </select>

    <select id="findTravelInfoByTravelId" resultType="TravelInformation">  <!-- travelId 받아서 단건 조회 -->
        SELECT A.TRAVEL_ID, A.TITLE,
               B.LOCATION_ID, C.LOCATION_SQ, C.CONTENT
            FROM TRAVEL A
            JOIN LOCATION B ON A.TRAVEL_ID = B.TRAVEL_ID
            JOIN LOCATION_DETAIL C ON B.TRAVEL_ID = C.TRAVEL_ID
                                  AND B.LOCATION_ID = C.LOCATION_ID
         WHERE A.TRAVEL_ID = #{travelId}
    </select>



</mapper>