<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
     .container {
     max-width: 560px;
     }
     .field-error {
     border-color: #dc3545;
     color: #dc3545;
     }
     .find-buttons {
        margin-top: 20px;
        text-align: center;
     }
     .find-buttons a {
        margin: 0 10px;
     }
    </style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    function encryptPassword(event) {
        event.preventDefault(); <!--  메소드는 브라우저의 기본 동작을 막는 중요한 기능 -->
        let password = document.getElementById("password").value;
        password = CryptoJS.SHA256(password).toString();
        document.getElementById("password").value = password;
        document.getElementById("loginForm").submit();
    }
</script>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <form id="loginForm" action="home.html" th:action th:object="${loginModel}" method="post" onsubmit="encryptPassword(event)">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" th:field="*{userId}" class="form-control" placeholder="아이디를 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{userId}"/>
            <input type="hidden" id="encryptedPassword" name="encryptedPassword">
        </div>
        <!--<div>       이메일 로그인에서 아이디로 변경
            <label for="loginId">이메일 주소</label>
            <input type="text" id="loginId" th:field="*{mail}" class="form-control" placeholder="xxx@gmail.com"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{mail}" />
        </div>-->
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"/>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    로그인
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
    <!-- ID 찾기 / 비밀번호 찾기 버튼 추가 -->
    <div class="find-buttons">
        <a th:href="@{login/search-id}" class="btn btn-link">ID 찾기</a>
        <a th:href="@{login/search-pwd}" class="btn btn-link">비밀번호 찾기</a>
        <a th:href="@{/members/add}" class="btn btn-link">회원가입</a>
    </div>
</div> <!-- /container -->
</body>
</html>